{%extends 'base.html'%}

{% block head%} {%endblock%}
{% block body%} 
<center><h1>CREATE A ACCOUNT</h1></center>
<form action="{{url_for('signin')}}" method="post" >
    <input type="text" placeholder="name" name="username" ><br>
    <input type="email" placeholder="email" name="email" ><br>
    <input type="password" placeholder="password" name="password" ><br> 
    {%if message%}
    <p style="color: red;" >{{message}}</p>
    {%endif%}
    
    <input type="radio" name="subscription" value="Starter">
    <label for="Starter">Starter Pack</label><br>
    <input type="radio" name="subscription" value="Pro">
    <label for="pro">Pro Pack</label><br>  
    <input type="radio" name="subscription" value="Expert">
    <label for="expert">Expert Pack</label><br><br>
    
    <a href="google/">
    <img id="google"
       src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
       alt="Google"
       
       > <br>
    </a>
    <input type="submit">
</form>

{%endblock%}