{%extends 'base.html'%}

{% block head%} {%endblock%}
{% block body%} 
<center><h1>CREATE A ACCOUNT</h1></center>
<form action="{{url_for('signin')}}" method="post" >
    <input type="text" placeholder="name" name="username" ><br>
    <input type="email" placeholder="email" name="email" ><br>
    <input type="password" placeholder="password" name="password" ><br> 
    {%if message%}
    <p style="color: red;" >{{message}}</p>
    {%endif%}
    
    
    <a href="{{ url_for('google_login') }}">
        <img id="google"
            src="https://img.shields.io/badge/Google-Connect-brightgreen?style=for-the-badge&labelColor=black&logo=google"
            alt="Google"
        >
    </a>
    
    <input type="submit">
</form>

{%endblock%}